{{!< layout }} <div class="row justify-content-center">
  <div class="container mx-auto mt-8">
    <div class="text-center mt-8">
      <button id="sync-button" class="bg-blue-500 text-white py-2 px-4 rounded">Sync Mails</button>
    </div>
    <h1 class="text-2xl font-bold mb-4">List Mails - {{user.email}}</h1>
    <div class="flex">
      <div class="w-1/4">
        <h2 class="text-xl font-semibold mb-2">Folders</h2>
        <ul class="list-disc pl-5" id="folder-list">
          {{#each mailFolders}}
          <li class="mb-2">
            <a href="#{{this.DisplayName}}" class="folder-link text-blue-500 hover:underline" data-folder-id="{{this.Id}}">
              {{this.DisplayName}} ({{this.UnreadItemCount}}/ {{this.TotalItemCount}})
            </a>
          </li>
          {{/each}}
        </ul>
      </div>
      <div class="w-3/4">
        <ul class="divide-y divide-gray-200" id="mails-list">
        </ul>
      </div>
    </div>
  </div>
  </div>

  <!-- Modal for displaying mail content -->
  <div class="fixed z-10 inset-0 overflow-y-auto hidden" id="mailPreviewModal">
    <div class="flex items-center justify-center min-h-screen p-4 text-center sm:block sm:p-0">
      <div class="fixed inset-0 transition-opacity" aria-hidden="true">
        <div class="absolute inset-0 bg-gray-500 opacity-75"></div>
      </div>
      <span class="hidden sm:inline-block sm:align-middle sm:h-screen" aria-hidden="true">&#8203;</span>
      <div
        class="inline-block align-bottom bg-white rounded-lg text-left overflow-hidden shadow-xl transform transition-all sm:align-middle sm:max-w-4xl sm:w-full">
        <div class="bg-white px-4 pt-5 pb-4 sm:p-6 sm:pb-4">
          <div class="sm:flex sm:items-start">
            <div class="mt-3 text-center sm:mt-0 sm:ml-4 sm:text-left">
              <h3 class="text-lg leading-6 font-medium text-gray-900" id="mailPreviewModalLabel">Mail Content Preview
              </h3>
              <div class="mt-2" id="mail-preview-body">
                <!-- Mail content will be displayed here -->
              </div>
            </div>
          </div>
        </div>
        <div class="bg-gray-50 px-4 py-3 sm:px-6 sm:flex sm:flex-row-reverse">
          <button type="button"
            class="mt-3 w-full inline-flex justify-center rounded-md border border-gray-300 shadow-sm px-4 py-2 bg-white text-base font-medium text-gray-700 hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 sm:mt-0 sm:ml-3 sm:w-auto sm:text-sm"
            id="close-modal">Close</button>
        </div>
      </div>
    </div>
  </div>

  <script src="/scripts/mailsload.js"></script>
  <link href="/styles/mailscss.css" rel="stylesheet" />
